//primary colors:
$purple: #8c30f5;
$turquoise: #2ec5ce;
$turquoise800: #75e3ea;
$turquoise100: #d5fafc;
$orange: #fe9a22;
$dark: #000000;
$light: #ffffff;
//text colors:
$font-dark: #000000;
$font-gray: rgba(0, 0, 0, 0.45);
$font-gray900: #18191f;
$font-gray800: #474a57;
$font-gray300: #d9dbe1;
$font-grey200: #eeeff4;
$font-gray100: #f4f5f7;
$font-light: #ffffff;
$font-orange: #fe9a22;
