.speakers {
  background-color: $turquoise100;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;

  &-card {
    margin: auto !important;
    text-align: center;

    .ant-card-bordered {
      border-color: transparent !important;
      background-color: transparent !important;
      .ant-card-body {
        padding-top: 0px !important;
      }
    }

    &__line {
      margin-bottom: 50px;
      width: 100% !important;
      &-item {
        box-shadow: none !important; //borde entre cards
        padding: 0px 0px 20px 0px !important;
        &__name {
          font-weight: bold !important;
        }
        &__collage {
          color: $font-gray;
        }
      }
    }
  }
}
