.colleges {
  z-index: -6;
  background-image: url("../../assets/img/241188322_10158551197468940_8273931117992831276_n.jpg");
  height: 100% !important;
  background-position: 70% 100% !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 700px) {
    background-attachment: scroll !important; //ios mobile browser has a bug with fixed
    background-position: 10% 100% !important;
  }
  &__content {
    z-index: 3;
    text-align: center !important;
    padding-bottom: 20px;
    background-color: rgba($color: $dark, $alpha: 0.5);
    height: 700px;
    &-list {
      margin: auto !important;
      text-align: center;

      .ant-card-bordered {
        border-color: transparent !important;
        background-color: transparent !important;
        .ant-card-body {
          padding-top: 0px !important;
        }
      }
      &__card {
        box-shadow: none !important; //borde entre cards
        padding: 0px 0px 50px 0px !important;
        &-img {
          height: 70px !important;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

//label for hover (tooltip)
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $dark;
  color: $font-light;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
